@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif
    height: 100%;
}

body{
    
    background-image: linear-gradient(to right, #62A8FC, #8062FC, #6277FC, #62D8FC); 
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #110349a2;
    width: 600px; 
    padding: 10px;
    margin: auto;
}

h1{
    color: #B262FC;
    text-align: center;
    text-shadow: 1px 1px 2px #00000091;

}

h2{
    color:#5529FF ;

}

p {
    text-align: justify;
}
